{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign up" %}{% endblock head_title %}

{% block content %}

<!-- Sign up form -->
<div class="container container-login col-md-6 p-4">
  <!-- Exit button -->
  <a href="{% url 'home' %}" aria-label="go back home">
    <i class="fa-solid fa-xmark float-end"></i>
  </a>
  <div class="row">
    <div class="pt-4">
      <h4><strong>{% trans "Sign up" %}</strong></h4>
    </div>
  </div>
  <div class="row">
    <div>
      <form class="signup pt-2" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="mt-4">
          <p>{% blocktrans %}Already have an account? <a class="link signup-link" href="{{ login_url }}">Log
              in</a>{% endblocktrans %}</p>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto pt-5 pb-3"><button class="btn btn-primary center" type="submit">Sign
            up</button>
        </div>
    </div>
    </form>
  </div>
</div>


{% endblock content %}