{% extends "base.html" %}

{% block content %}


<!-- Post list display -->
{% for post in post_list %}
<div class="row m-3">
    <div class="col-6 col-md-4">
        <p class="mb-0">Posted by <strong>{{post.author}}</strong></p>
        <p>{{post.created_on}}</p>
    </div>
    <div class="col-6 col-md-8">
        <!-- Link to an individual post display-->
        <a href="{% url 'post_detail' post.slug %}" class="post-link">
            <p><strong>{{ post.title }}</strong></p>
            <p class="pt-2 pb-2">{{ post.get_content_preview | safe }}... <small class="text-muted">See more</small></p>
        </a>
    </div>
</div>
<hr>
{% endfor %}

<!-- Pagination -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% endif %}
        {% for page_num in page_obj.paginator.page_range %}
        {% if page_num == page_obj.number %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ page_num | safe }}
                <span class="sr-only">(current)</span>
            </span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num | safe }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}

<!-- Login message -->
{% block login_message %}

<div class="row ms-4 pt-3">
    {% if user.is_authenticated %}
    <p><strong>Welcome to Jurtaka Hiking Forum! You are logged in as
            <span class="pink-text">{{ user }}</span></strong></p>
    {% else %}
    <p><strong>Welcome to Jurtaka Hiking Forum! You are not logged in. Please <a class="link signup-link"
                href="{% url 'account_login' %}">log in
            </a>to post and comment!</strong></p>
    {% endif %}
</div>

{% endblock %}