/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    background: url("../images/background_wave.png");
    background-size: cover;
    background-repeat: repeat;
    font-family: "Lato",
        sans-serif;
    color: #3a3b3c;
}